.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionCategories
{
  width: 90%;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section
{
  width: 30%;
  margin: 10px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(237, 255, 233);
  box-shadow:-1px 1px 7px grey;
}

.toggleForm
{
  padding: 10px;
  width:100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(249, 252, 255);
}
input
{
  margin:  10px ;
  padding: 7px;
  border-radius: 3px;
}
button
{
  padding: 5px 10px;
  margin: 5px;
}
.taskContainer
{
  background-color: white;
  margin: 7px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px -1px 3px  grey;
  cursor: grab;
}
.taskContainer:active
{
  opacity: 0.5;
  border: 2px solid black;
}
.taskItem{
  width: 70%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}

.aboutTask
{
  padding: 0px 5px;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: pre-wrap; /* Preserve white space and wrap lines */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  max-width: 95%;
}
.droparea
{
  width: 90%;
  background-color: white;
  border: dashed black;
  padding: 10px;
  opacity: 1;
}
.hidearea
{
  opacity: 0;
}
@media only screen and (max-width:900px)
{
  .sectionCategories
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section
  {
    width: 60%;
  }
}
@media only screen and (max-width:567px)
{
  .section
  {
    width: 95%;
  }
}

